<%- include("header") -%>

<div class="container">
  <h2>All Products</h2>
  <div class="row">
    <% products.forEach(function(item) { %>
    <div class="col col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <h6 class="card-subtitle">$<%= item.price %></h6>
          <p class="card-text"><%= item.description %></p>
          <a href="/add-cart" class="card-link">Add to Cart</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <div class="container d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-5 mg-auto">
        <% if (selectedCategory === null) { %>
        <li class="page-item">
          <a class="page-link" href="/products?page=1">First</a>
        </li>
        <% for (var i = lowerBound; i < upperBound; i++) { %>
        <li class="page-item">
          <a class="page-link" href="/products?page=<%= i+1 %>"><%= i+1 %></a>
        </li>
        <% } %>
        <li class="page-item">
          <a class="page-link" href="/products?page=<%= lastPage %>">Last</a>
        </li>
        <% } else { %>
            <li class="page-item">
                <a class="page-link" href="/products/categories?page=1&name=<%= selectedCategory %>">First</a>
              </li>
              <% for (var i = lowerBound; i < upperBound; i++) { %>
              <li class="page-item">
                <a class="page-link" href="/products/categories?page=<%= i+1 %>&name=<%= selectedCategory %>"><%= i+1 %></a>
              </li>
              <% } %>
              <li class="page-item">
                <a class="page-link" href="/products/categories?page=<%= lastPage %>&name=<%= selectedCategory %>">Last</a>
              </li>
            <% } %>
      </ul>
    </nav>
  </div>
</div>

<%- include("footer") -%>
